@font-face {
    font-family: 'Lato';
    src : url('Fonts/Lato-Regular.eot');
    src : url('Fonts/Lato-Regular.eot#iefix') format('embedded-opentype'),
          url('Fonts/Lato-Regular.ttf') format('truetype'),
          url('Fonts/Lato-Regular.woff') format('woff'),
          url('Fonts/Lato-Regular.woff2') format('woff2');
}

body {
    font-family: 'Lato', Arial, sans-serif;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

#bg-image{
    position: relative;
    width: 800px;
    height: 600px;
    background: url("rectangle.png") no-repeat;
}

.citybox {
    margin: 0;
    padding: 0;
}
.citybox__title {
    position:absolute;
        top: 72px;
        left: 120px;
    font-size: 3em;
    font-weight: bold;
   
}
.citybox__infos ul{
    font-size: 2em;
    list-style-type: none;
}

.citybox__infos ul li:first-child{
    position:absolute;
        top: 145px;
        left: 120px;
}

.citybox__infos ul li:last-child{
    position: absolute;
        top:145px;
        right: 374px;
}

.citybox__infos ul li:last-child::before{
    content:'.';
    position: absolute;
        top:-8px;
        left: -18px;
}

.citybox__icon {
    position:absolute;
        top: 96px;
        left: 602px;
}


.button {
    position:absolute;
        right:80px;
        bottom: 40px;
    width: 337px;
    height: 77px;
    border-radius: 25px;
    background-blend-mode: multiply;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(6, 124, 250, 0.7));
    border: solid 2px #ffffff;
}

.button__text{
    position:absolute;
        top:18px;
        left: 32px;
    margin:0;
    font-size: 2em;
    color: #ffffff;

}

[data="angle-right.svg"] {
   position:absolute;
        top:29px;
        right: 31px;
}


